extends layout

block content
 h1.pl= title
 p.pl "The world's oldest business that rents out copies of movies for private use was opened by Eckhard Baum in Kassel, Germany in the summer of 1975. Baum collected movies on Super 8 film as a hobby and lent pieces of his collection to friends and acquaintances. Because they showed great interest in his films, he came up with the idea of renting out films as a sideline.Over the years, videotapes and optical discs were added to the range. Baum still operates the business as of September 2015 and was portrayed in the June 2006 documentary film Eckis Welt by Olaf Saume"