doctype html
html
 head
  title= title  
  link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  link(re='stylesheet', href='/stylesheets/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
 body
   nav.navbar.navbar-toggleable-md.navbar-inverse.fixed-top 
     .container
       
         
       a.navbar-brand(href='/') Movies
       a.navbar-brand(href='/about/') About 
       a.navbar-brand(href='/list/') Movies List
       
   block content
                                